Q1. What is a database? Differentiate between SQL and NoSQL databases.

The database is defined as the storage of sequential query data as well as not only sequential data.In layman term 
the database is an storage for the data.

The SQL is used for storing only sequential data of rows and Columns.But in the NOSQL we can store the datas such as 
word,pdf and etc....

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

The term DDL stands for the data defintion language.It is an subset of the SQL program.
It is a language for describing data and its relationships in a database.

CREATE - to create objects in the database.
CREATE TABLE Student_info
(
College_Id number(10),
College_name varchar(30),
Branch varchar(10)
);

ALTER - alters the structure of the database.

ALTER TABLE Student_info
ADD CGPA number;


DROP - delete objects from the database.

DROP TABLE Student_info;

TRUNCATE - remove all records from a table, including all spaces allocated for the records are removed.

TRUNCATE Student_Data;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML. 
It is also used as Data Manipulation Language.
This includes most of the SQL statements.

SELECT − Retrieve data from the database.

SELECT * from test1;

INSERT − Insert data into a table.

Insert into test1.test_values(10,'Datascience');

UPDATE − Update existing data within a table.

Update  test SET [col2,'datascience with python'] 

DELETE − Delete records from a database table.

DELETE * from test1;

Q4. What is DQL? Explain SELECT with an example.

The DQL is defined as the Data Query Language are computer languages that are used to make various queries in 
information systems and databases.
SELECT Stu_Name test WHERE marks=90;

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mydb.execute()


The cursor() command is used for the connection to the database
The execute() command is used to execute the python code to implement the changes in the sql file

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.